@CHARSET "UTF-8";

#wrap{min-width:880px}
#header{z-index:100;width:1200px;margin:0 auto;}
.gnb{position:relative;z-index:105;width:100%;height:30px;border-bottom:1px solid #dfdfdf;background-color:#fbfbfb}
#container,#footer,.lnb{width:1200px;margin:0 auto;text-align:left}
#container:after{display:block;clear:both;content:''}
#content{width:1200px;margin:0 auto;}